<p>
  <b>Order:</b>
  <%=h @transaction_group_item.order_number %>
</p>
<p>
  <b>Pm context value1:</b>
  <%=h @transaction_group_item.pm_context_value1 %>
</p>

<p>
  <b>Pm context value2:</b>
  <%=h @transaction_group_item.pm_context_value2 %>
</p>

<p>
  <b>Pm context value3:</b>
  <%=h @transaction_group_item.pm_context_value3 %>
</p>


<%= link_to 'Edit', edit_transaction_group_transaction_group_item_path(@transgroup,@transaction_group_item) %> |
<%= link_to 'Back', transaction_group_transaction_group_items_path %>