<% if not @trans.nil? %>
  <h2>
    <center><%= @trans.description %><br /></center>
  </h2>
  <label>
    <center>
    <%= @trans.notes %><br />
    <%= @trans.system_name %><br />
    <%= @trans.pm_transaction %><br />
    </center>
  </label>
<% end %>
<br />
<center>  
  <img src="<%= @graph_url %>"/>
</center>
<br />

