<h2>New Trasaction</h2>

<% form_for(@trans) do |f| %>
<fieldset>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :system_name %>
    <%= f.text_field :system_name %>
  </p>
  <p>
    <%= f.label :pm_transaction %>
    <%= f.text_field :pm_transaction %>
  </p>
  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
  </fieldset>
<% end %>


