<h2>
  Top Transactions sorted by the average respond time .::. Date: <%= @date.strftime("%A %d.%m.%Y")    %>
</h2>

<%= form_tag url_for(:system_name => :system_name),  :method => :get do %>
  <%= select_tag(:system_name, options_for_select(@system_list,@system_curr)) %>
  <%= submit_tag "Send" %>
<% end %>
<br/>
<table>
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        SYSTEM
      </th>
      <th>
        PM_TRANSACTION
      </th>
      <th>
        Description
      </th>
      <th>
        Counter
      </th>
      <th>
        Avg/ms
      </th>
      <th>
        StdDev
      </th>
      <th>
        Chart
      </th>
      <th>
        Edit
      </th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% for tr in @trans %>
    <%  count += 1 %>
    <tr>
      <td align="right">
        <%=h count %>
      </td>
      <td>
        <%=h tr.system_name %>
      </td>
      <td>
        <%=h tr.pm_transaction %>
      </td>
      <td>
        <%=h tr.description %>
      </td>
      <td align="right">
        <%=h number_with_delimiter(tr.counter.round) %>
      </td>
      <td align="right">
        <%=h number_with_delimiter(tr.sum_avg.round) %>
      </td>
      <td align="right">
        <%=h tr.std_dev.round %>
      </td>


      <td>
        <%= link_to 'Graph', :controller => :transhist, :action => :show, :system_name => tr.system_name, :pm_transaction => tr.pm_transaction %>
      </td>
      <td>
        <% if tr.description.nil?  %>
          <%= link_to 'New',  :controller => :transactions, :action => :new,  :system_name => tr.system_name, :pm_transaction => tr.pm_transaction %>
        <% else %>
          <%= link_to 'Edit', :controller => :transactions, :action => :edit, :system_name => tr.system_name, :pm_transaction => tr.pm_transaction %>
        <% end %>
      </td>
    </tr><% end %>
  </tbody>
</table>

