<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>PeopleSoft Performancer</title>
 <%= javascript_include_tag :defaults %>
 <!-- %= active_scaffold_includes %  -->
 <%= stylesheet_link_tag "basic", :media => "all" %>
 <!--[if lte IE 7]>
 <link href="css/patches/patch_styling_content.css" rel="stylesheet" type="text/css" />
 <![endif]-->
</head>
<body>
<a href="http://github.com/kapfenho/PeopleSoft-Performance"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

  <div class="page_margins">
    <div class="page">
      <div id="header" role="banner">
        <div id="topnav" role="contentinfo">
          <!-- div class="ribbon">
            <a href="https://github.com/kapfenho/PeopleSoft-Performance" rel="me">Fork me on GitHub</a>
          </div -->
          <!-- <span><a href="#">Login</a> | <a href="#">Contact</a> | <a href="#">Imprint</a></span>  -->
        </div>
        <h1>PeopleSoft Performance Report</h1>
      </div>

      <!-- begin: main navigation #nav -->
      <div id="nav" role="navigation">
        <div class="hlist">
          <ul>
            <li><%= link_to 'Transaction Groups', transaction_groups_path %></li>
            <li><%= link_to 'Top Transactions', :controller => :stats, :action => :index %></li>
            <li><%= link_to 'Batchjobs', jobdefinitions_path %></li>
          </ul>
        </div>
      </div>
      <!-- end: main navigation -->
      <br/>
      <br/>
      <br/>
      <%= yield  %>

    </div>
  </div>

</body>
</html>